html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 3rem;
  background-color: #ffcc26;
}

main, .header-title {
  width: 1200px;
  margin: 0 auto;
}

.header-title {
  align-self: center;
  color: #000000;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.top-stories-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 6rem;
}

.top-story-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

form {
  margin-bottom: .8rem;
}

input {
  font-size: 1.4rem;
}

#topic-input {
  border: 1px solid #808080;
  border-radius: 1rem;
  width: 400px;
  text-align: center;
}

#topic-submit {
  background-color: #9acd32;
  color: #ffffff;
  width: 120px;
  border: none;
  border-radius: 1rem;
  margin-left: .4rem;
  font-weight: bold;
}

#topic-submit:hover {
  cursor: pointer;
  background-color: #ffcc26;
  transition: all .5s;
}

.top-story-container {
  height: 220px;
}

.topmost-row {
  grid-row: span 2;
}

.topmost-row > div {
  height: 100%;
}

.main-story {
  grid-column: span 3;
}
