html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  background-color: #ffcc26;
}

.subheader-container {
  width: 100%;
  display: none;
}

main, .header-title-container, .subheader-items {
  width: 1200px;
  margin: 0 auto;
}

.header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #000000;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.burger-menu-icon:hover {
  cursor: pointer;
}

.collapsible-menu {
  display: none;
}

.top-stories-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 6rem;
}

.top-story-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

form {
  margin-bottom: .8rem;
}

input {
  font-size: 1.4rem;
}

#topic-input {
  border: 1px solid #808080;
  border-radius: 1rem;
  width: 400px;
  text-align: center;
}

#topic-submit {
  background-color: #9acd32;
  color: #ffffff;
  width: 120px;
  border: none;
  border-radius: 1rem;
  margin-left: .4rem;
  font-weight: bold;
}

#topic-submit:hover {
  cursor: pointer;
  background-color: #ffcc26;
  transition: all .5s;
}

.top-story-container {
  height: 220px;
}

.topmost-row {
  grid-row: span 2;
}

.topmost-row > div {
  height: 100%;
}

.main-story {
  grid-column: span 3;
}

.loader {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* Mobile version */

@media (max-width: 768px) {
  header {
    height: auto;
    background-color: #ffffff;
  }

  main, .header-title {
    width: 100%;
  }

  .header-title-container {
    height: 40px;
    width: 100%;
    background-color: #ffcc26;
    padding: .5rem 0;
  }

  .header-title {
    font-size: 2rem;
    padding-left: 1rem;
  }

  .burger-menu-container {
    margin-right: 1rem;
  }

  .collapsible-menu {
    margin: 0 1rem;
    background-color: #0f0f0f;
    border-bottom: 5px solid #ffcc26;
  }

  .collapsible-items {
    display: flex;
    flex-direction: column;
  }

  .collapsible-item {
    padding: .4rem;
    margin: 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 1px solid #7e7d7d;
  }

  .last-collapsible-item {
    border: none;
  }

  .home-item {
    border-left: 5px solid #ffcc26;
  }

  .loader {
    width: 100px;
  }

  form {
    display: flex;
    padding: 0 1rem;
  }

  .top-stories-container, .top-story-row {
    display: flex;
    flex-direction: column;
  }

  .top-story-row:not(.topmost-row) .top-story-container {
    height: 200px;
  }

  input {
    font-size: 1rem;
  }

  #topic-input {
    width: 70%;
  }

  #topic-submit {
    width: 30%;
  }

  .topmost-row > .secondary-story {
    height: 200px;
  }

}

@media (min-width: 769px) {
  .header-title-container {
    margin-top: .6rem;
    margin-bottom: .6rem;
  }

  .subheader-container {
    padding-top: .2rem;
    padding-bottom: .3rem;
    display: block;
    height: 30px;
    background-color: #ffcc26;
    border-top: 1px solid #c39f23;
  }

  .subheader-items {
    height: 30px;
    display: flex;
    align-items: center;
  }

  .subheader-item {
    padding: 0 .5rem;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .subheader-item:not(.last-subheader-item) {
    border-right: 1px solid #c39f23;
  }

  .subheader-item:hover {
    cursor: pointer;
    font-weight: 700;
    transition: all .2s;
  }

  .collapsible-menu {
    background-color: #0f0f0f;
  }
}