.topmost-row > .main-story > .story-item {
  display: flex;
}

.top-story-container:not(.main-story) > .story-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.story-title, .author-url {
  color: black;
  text-decoration: none;
}

.story-title:hover, .author-name:hover {
  color: #ffcc26;
  transition: all .4s;
}

img:hover {
  filter: brightness(75%) saturate(140%); 
  transition: all .6s;
}

img {
  object-fit: cover;
}

.story-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-story-container:not(.main-story) .story-info-container {
  height: 100%;
}

.main-story .story-title {
  margin: 0;
  margin-right: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.top-story-container:not(.main-story) .story-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.top-story-row:not(.topmost-row) .story-title {
  font-size: 1rem;
  max-height: 55px;
  overflow-y: hidden;
}

.story-description {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  color: #808080;
}

.author-url {
  font-style: italic;
}

.author-url:hover {
  color: #ffcc26;
}

.author-name {
  margin: 0;
  padding: 0;
  font-size: .9rem;
  color: #618d08;
  text-decoration: none;
}

.top-story-row:not(.topmost-row) .author-name {
  max-width: 130px;
}

.main-story .author-name {
  padding-left: 1.5rem;
}

.story-info-footer {
  display: flex;
  align-items: center;
}

.comments-icon {
  margin-left: .5rem;
  padding-left: .5rem;
  border-left: 1px solid #d3d3d3;
}

.comments-amount {
  margin-left: .4rem;
  font-size: .9rem;
}

.elapsed-value {
  margin-left: .4rem;
  font-size: .9rem;
  margin-right: .5rem;
  padding-right: .5rem;
  border-right: 1px solid #d3d3d3;
}

.live-icon {
  margin-right: .5rem;
  width: 80px;
}

.main-story-title-container {
  margin: 0;
  margin-left: 1.5rem;
}

/* Mobile version */

@media (max-width: 768px) {
  .topmost-row > .main-story > .story-item {
    display: flex;
    flex-direction: column;
  }

  .story-item {
    padding: 0 1rem;
  }

  .story-title {
    margin-right: 0;
  }

  .main-story.story-thumbnail {
    width: 100%;
    height: 300px;
  }

  .live-icon {
    width: 60px;
  }

  .main-story .story-title {
    font-size: 1.6rem;
  }

  .story-description {
    display: none;
  }

  .main-story-title-container {
    margin: 0;
  }

  .main-story .author-name {
    margin-top: 1rem;
    padding: 0;
  }

  .top-story-container:not(.main-story) .story-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .top-story-container:not(.main-story) .story-title {
    font-size: 1.1rem;
    max-height: 150px;
  }
  
  .top-story-container:not(.main-story) img {
    height: 200px;
  }

  .top-story-container:not(.main-story) .thumbnail-container {
    width: 50%;
    margin-right: .8rem;
  }

  .top-story-container:not(.main-story) > .story-item {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d4d4d4;
    padding-top: .6rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

}